html {
    font-size: 16px;
    height: 100vh;
}

body {
    background: linear-gradient(0deg, rgba(129, 127, 128, 0.3), rgba(245, 77, 175, 0.5)), url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section.container {
    display: flex;
    justify-content: space-evenly;
    margin: 5rem;
    flex-wrap: wrap;
    padding: 0 15rem;

}

h2,
ul,
li,
button {
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    text-align: center;
}

.name {
    font-size: 1.4rem;
    font-weight: 600;
}

form,
h1 {
    width: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    margin: 2rem auto 0 auto;
    color: white;
}

.description {
    font-size: 1rem;
    font-family: 'Playfair Display', serif;
}

h2 {
    text-decoration: underline;
    margin-left: 2rem;
    color: rgb(253, 253, 253);
    font-size: 2rem;
    text-shadow: 2px 2px rgb(7, 7, 7);
}

button {
    margin: 1rem 0 0 0;
    border: none;
    border-radius: 5%;
    background: rgba(22, 22, 22, 0.5);
    color: white;
    font-size: 1.2rem;
}

button:hover {
    background: rgba(102, 12, 12, 0.5);

}

li {
    padding: 1.3rem;
    margin: 1rem;
    background: rgba(129, 127, 128, 0.5);
    color: white;
    border-radius: 7%;
    height: 7rem;
    width: 15rem;
    align-items: center;
}

input {
    margin-right: 2.2rem;
    border: none;
    background-image: none;
    background-color: transparent;
    border-bottom: white .1rem dashed;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    color: white;
}

::placeholder {
    color: white;
    font-family: 'Montserrat', sans-serif;
}


@media only screen and (max-width: 800px) {
    html {
        width: 100%;
        font-size: 16px;
    }

    h2 {
        font-size: 2rem;
        padding: 0;
    }

    ul {
        padding: 0;
    }

}

@media only screen and (max-width: 600px) {
    body {
        background: url(background.jpg);
        background-size: 300vh;
    }

    h2 {
        font-size: 2rem;
    }

    ul {
        padding: 0;
    }


}